@model IEnumerable<RRS.Data.Sitting>

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/css/backend.css" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap" rel="stylesheet">

<div class="table text-center w-75 m-auto tableHead p-1">
    <h1 class="pl-5"> Sitting's </h1>
    <p>
        <a class="btn btn-outline-success" asp-action="Create">Create New</a>
    </p>
</div>

<div class="bspacer p-3"></div>


<table class="table text-center w-75 m-auto tableHead">
    <thead>
        <tr>
            <th>
                Date
            </th>
              <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Type
            </th>
                     
            <th>
                @Html.DisplayNameFor(model => model.Start)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.End)
            </th>
            <th>
                Vacancies
            </th>
            <th>
             Private
            </th>
            <th>
               Closed
            </th>
           
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>              
                @item.Start.ToString("ddd dd-MM-yyyy")  
            <td>
               @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SittingType.Description)
            </td>
            <td>
                @item.Start.ToString("HH:mm tt")
            </td>
            <td>
                 @item.End.ToString("HH:mm tt")
            </td>
            <td>@item.Vacancies</td>
            <td>
                @if (item.IsPrivate){<input name="closed" class="form-check-input" type="checkbox" value="" checked disabled >}
                    else{<input name="closed" class="form-check-input" type="checkbox" value="" disabled >}
            </td>           
            <td>
                @if (item.IsClosed){<input name="closed" class="form-check-input" type="checkbox" value="" checked disabled >}
                    else{<input name="closed" class="form-check-input" type="checkbox" value="" disabled >}
            </td>
            
            <td>
                <a class="btn btn-outline-success "  asp-action="Edit" asp-route-id="@item.Id">Edit</a>               
            </td>
        </tr>
}
    </tbody>
</table>
